# Everything in project-hub can be ignored, since I will be using custom-projects
*project-hub/*

*Biology*

*custom-projects/paired-feedback-pilot/annotation_output/*
*custom-projects/paired-feedback-pilot/user_config.json

*potato/templates/*.html

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

**/.DS_Store
# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
